<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="/">
            <img src="" alt="">
        </a>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#">Sobre</a></li> 
            {{#if session.usuarioid}}
            <li><a href="/pages/dashb">Produtos</a></li>
            <li><a href="#">Sair</a></li>
            {{else}}
            <li><a href="/cadastro">Cadastro</a></li>
            <li><a href="/login">Entrar</a></li>
            {{/if}}             
        </ul>
        
    </nav>
    <div class="container">
        {{#if messages.message}}
        <div class="message">
            {{messages.message}}
        </div>
        {{/if}}
        {{#if message}}
        <div class="message">
            {{message}}
        </div>
        {{/if}}
        {{{ body }}}
    </div>
    <footer>
        <p><span>Naruto</span></p>
    </footer>
</body>
</html>