<h1>jiraya adiciona</h1>
<form action="/users/create" method="POST">
<div>
    <label for="name">Nome:</label>
    <input type="text" name="name">
</div>
<div>
    <label for="occupation">profissão::</label>
    <input type="text" name="occupation">
</div>
<div>
    <label for="newsletter">Enivar Prmoçoes</label>
    <input type="checkbox" name="newsletter" checked>
    <h2>o checked serve pra já deixar marcado</h2>
</div>
<input type="submit" value="Cadastrar">

</form>