<h1>jiraya</h1>
<div class="container">
    <input type="hidden" name='id' value="{{prods.id}}">
    
    <div class="cxProd" id="dados">
        <h2>Produtos</h2>
        <hr>
        {{#each prods}}
        <h3>{{this.NomeP}}</h3>
        <p>{{this.PriceU}}<span>0</span></p>
        <input type="number" id="qtdprod" name="qtd" min="0" value="0" pattern="^[0-9]+">
        {{/each}}
        <a href="/">Refazer Pedido</a>
        <input type="button" id="PrepararPedido" value="Fazer Pedido">
        <div class="cxPdd">
        <form action="/addped" method="POST">
            <h1>Pedido Atual</h1>
            <div id="vercompra"></div>
            <div id="mandardadoscompra" class="caxi"></div>
            <div id="valortotal"></div>
            <input type="submit" value="Confirmar Compra">
        </form>
    </div>
    </div>
    
</div>
<script src="./funcoes/cpdb.js"></script>