  <!-- Banner -->
  <div class="banner">
    <div class="col">
      <img src="/img/banner-site-nvidia-gtx-home-3.jpg" class="img-fluid" alt="Banner">
    </div>
  </div>

<div class="container my-5">
    <h1 class="text-center">Produtos em Destaque</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card h-100">
          <img src="/img/prod1.jpg" class="card-img-top" alt="Imagem do Produto 1">
          <div class="card-body">
            <h5 class="card-title">Placa Mãe B450M</h5>
            <h6 class="card-subtitle mb-2 text-muted">R$ 600,00</h6>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="/img/prod6.jpg" class="card-img-top" alt="Imagem do Produto 2">
          <div class="card-body">
            <h5 class="card-title">RTX 3060</h5>
            <h6 class="card-subtitle mb-2 text-muted">R$ 2400,00</h6>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="/img/prod7.jpg" class="card-img-top" alt="Imagem do Produto 3">
          <div class="card-body">
            <h5 class="card-title">Ryzen 7</h5>
            <h6 class="card-subtitle mb-2 text-muted">R$ 1400,00</h6>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="/img/prod2.jpg" class="card-img-top" alt="Imagem do Produto 4">
          <div class="card-body">
            <h5 class="card-title">Ryzen 5</h5>
            <h6 class="card-subtitle mb-2 text-muted">R$ 650,59</h6>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="/img/prod8.jpg" class="card-img-top" alt="Imagem do Produto 5">
          <div class="card-body">
            <h5 class="card-title">GTX 1660 TI</h5>
            <h6 class="card-subtitle mb-2 text-muted">R$ 1500,00</h6>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="/img/prod3.jpg" class="card-img-top" alt="Imagem do Produto 6">
          <div class="card-body">
            <h5 class="card-title">Memória Ram 4GB</h5>
            <h6 class="card-subtitle mb-2 text-muted">R$ 150,29</h6>
          </div>
        </div>
      </div>
    </div>
        <div class="col text-center">
    {{#if session.clientesid}}
          <a href="/pages/dashb" class="btn btn-success mt-4 p-3 text-uppercase"> <strong>Faça seu pedido</strong></a>
          {{else}}
          <a href="/login" class="btn btn-success mt-4 p-3 text-uppercase"> <strong>Faça seu pedido</strong></a>
          {{/if}} 
    </div>
  </div>